<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Online Creative - Christmas Checklist Repo
    </title>
    <link href="../../dist/css/styles.min.css" type="text/css" rel="stylesheet"/>
    <link href="../../dist/css/fonts.css" rel="stylesheet" type="text/css"/>
    <style>
      body {background: #f6f6f6}
    </style>
  </head>
  <body>
    <main class="ddl-wrapper">
      <svg style="display: none">
        <defs>
          <symbol id="xpnd" viewBox="0 0 24 18">
            <path d="M20.65 5.31L12 14.28 3.36 5.31" style="fill:none;"></path>
          </symbol>
        </defs>
      </svg>
      <div class="ddl-divider mb-48"></div>
      <section class="mb-48">
        <h2 class="mb-9 mw-480">Discover our Christmas range</h2>
        <p class="ddl-t3 mb-19 mw-480">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        <article class="ddl-fltr">
          <div id="checklist-btn" class="ddl-tgglr">
            <button class="ddl-btn-input" aria-controls="Checklist">
              <span class="ddl-rndl mr-8">
                <span class="ddl-rndl__icon ddl-rndl__icon--sm">
                  <svg class="ddl-svg ddl-svg--wht">
                    <use xlink:href="#xpnd"/>
                  </svg>
                </span>
              </span>
              <span class="ddl-lbl ddl-t2 cl-crmsn">Filter by category</span>
            </button>
          </div>
        <fieldset id="fields" aria-expanded="false" data-show="false" class="input_group input_group--checkbox-radio">
          <div class="ddl-divider mb-46"></div>
          <legend class="legend hide">Pick a category</legend>
          <div class="input-grid mb-36">
            <div class="form_field">
              <div class="checkbox">
                <input id="0" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 1</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="1" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 2</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="2" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 3</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="3" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 4</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="4" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 5</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="5" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 6</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="6" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 7</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="7" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 8</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="8" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 9</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="9" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 10</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="10" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 11</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="11" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 12</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="12" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 13</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="13" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 14</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="14" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 15</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="15" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 16</label>
            </div>
            
          </div>
          <button id="apply-filter" class="ddl-btn ddl-btn-crmsn mr-8">
            <span class="ddl-lbl ddl-t3">Apply filter(s)</span>
          </button>
          <button id="remove-filter" class="ddl-btn ddl-btn-hllw">
            <span class="ddl-lbl ddl-t3">Remove filter(s)</span>
          </button>
        </fieldset>
      </article>
      </section>
      <section class="row mb-48" data-visible="true">
        <article class="ddl-crd-wrppr">
          <section class="ddl-crd bg-crmsn">
            <h3 class="cl-wht mb-9">Category name</h3>
            <p class="ddl-t3 mb-19 cl-wht2">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation</p>
            <a href="#" class="ddl-btn ddl-btn-wht">
              <span class="ddl-lbl ddl-t3">Filled with Chevron</span>
              <svg class="ddl-svg ddl-svg--crmsn" viewBox="0 0 18 24" width="18" height="24">
                <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
              </svg>
            </a>
          </section>
          <div class="ddl-crd-grd">
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('https://via.placeholder.com/200x400')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Enhanced Link</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('https://via.placeholder.com/200x400')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Enhanced Link</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('https://via.placeholder.com/200x400')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Enhanced Link</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('https://via.placeholder.com/200x400')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Enhanced Link</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
          </div>
        </article>
      </section>
      <section class="row mb-48" data-visible="true">
        <article class="ddl-crd-wrppr ddl-crd-wrppr-rvrs">
          <div class="ddl-crd-grd">
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('https://via.placeholder.com/200x400')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Enhanced Link</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('https://via.placeholder.com/200x400')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Enhanced Link</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('https://via.placeholder.com/200x400')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Enhanced Link</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('https://via.placeholder.com/200x400')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Enhanced Link</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
          </div>
          <section class="ddl-crd bg-wht">
            <h3 class="mb-9">Category name</h3>
            <p class="ddl-t3 mb-19">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation</p>
            <a href="#" class="ddl-btn ddl-btn-crmsn">
              <span class="ddl-lbl ddl-t3">Filled with Chevron</span>
              <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
              </svg>
            </a>
          </section>
        </article>
      </section>
      <section class="row mb-48" data-visible="true">
        <article class="ddl-crd-wrppr">
          <section class="ddl-crd bg-crmsn">
            <h3 class="cl-wht mb-9">Category name</h3>
            <p class="ddl-t3 mb-19 cl-wht2">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation</p>
            <a href="#" class="ddl-btn ddl-btn-wht">
              <span class="ddl-lbl ddl-t3">Filled with Chevron</span>
              <svg class="ddl-svg ddl-svg--crmsn" viewBox="0 0 18 24" width="18" height="24">
                <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
              </svg>
            </a>
          </section>
          <div class="ddl-crd-grd">
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('https://via.placeholder.com/200x400')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Enhanced Link</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('https://via.placeholder.com/200x400')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Enhanced Link</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('https://via.placeholder.com/200x400')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Enhanced Link</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('https://via.placeholder.com/200x400')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Enhanced Link</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
          </div>
        </article>
      </section>
      <section class="row mb-48" data-visible="true">
        <article class="ddl-crd-wrppr ddl-crd-wrppr-rvrs">
          <div class="ddl-crd-grd">
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('https://via.placeholder.com/200x400')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Enhanced Link</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('https://via.placeholder.com/200x400')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Enhanced Link</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('https://via.placeholder.com/200x400')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Enhanced Link</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('https://via.placeholder.com/200x400')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Enhanced Link</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
          </div>
          <section class="ddl-crd bg-wht">
            <h3 class="mb-9">Category name</h3>
            <p class="ddl-t3 mb-19">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation</p>
            <a href="#" class="ddl-btn ddl-btn-crmsn">
              <span class="ddl-lbl ddl-t3">Filled with Chevron</span>
              <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
              </svg>
            </a>
          </section>
        </article>
      </section>
    <script src="../../dist/js/scripts.min.js"></script>
  </main>
</body>
</html>
