<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>
      Online Creative - Christmas Checklist Repo
    </title>
    <link href="../../dist/css/styles.min.css" type="text/css" rel="stylesheet"/>
    <link href="../../dist/css/fonts.css" rel="stylesheet" type="text/css"/>
    <style>
      body {background: #ffffff;margin: 0;}
    </style>
  </head>
  <body>
    <main class="ddl-wrapper">
      <svg style="display: none">
        <defs>
          <symbol id="xpnd" viewBox="0 0 24 18">
            <path d="M20.65 5.31L12 14.28 3.36 5.31" style="fill:none;"></path>
          </symbol>
        </defs>
      </svg>
      <h1 class="mb-21 mw-480">Christmas shopping list</h1>
      <p class="ddl-t2 mb-26 mw-480">Get organised with our handy Christmas shopping list that&rsquo;s ready to go when you are</p>
      <section class="ddl-blbrd mb-48">
        <div class="ddl-blbrd_cpy bg-grey">
          <h2 class="mb-9 mw.-480">Download our list for free</h2>
          <p class="ddl-t2 mb-19 mw-480">From Brussels sprouts and cranberry sauce to batteries and kitchen foil, you&rsquo;ll find it all here on one handy checklist</p>
          <div>
            <a href="#" class="ddl-btn ddl-btn-crmsn mr-8">
              <span class="ddl-lbl ddl-t3">Download as PDF</span>
              <svg class="ddl-svg ddl-svg--wht" width="24" height="26" viewBox="0 0 24 26">
                <line x1="3" x2="21" y1="20.5" y2="20.5"></line>
                <polyline points="7 11 12 16 17 11"></polyline>
                <line x1="12" x2="12" y1="16" y2="3"></line>
              </svg>
            </a>
            <!-- <a href="#" rel="sidebar" title="Bookmark this page" id="bookmark" class="ddl-btn ddl-btn-hllw">
              <span class="ddl-lbl ddl-t3">Bookmark this page</span>
              <svg class="ddl-svg ddl-svg--crmsn" viewBox="0 0 26 26" width="26" height="26">
                <polygon class="a" points="13 19.05 7.46 22.12 8.52 15.61 4 10.97 10.24 10.02 13 4.12 15.76 10.02 22 10.97 17.48 15.61 18.54 22.12 13 19.05"></polygon>
              </svg>
            </a> -->
          </div>
        </div>
        <div class="ddl-blbrd_img" style="background-image:url(https://via.placeholder.com/740x360)"></div>
      </section>
      <div class="ddl-divider mb-48"></div>
      <section class="mb-48">
        <h2 class="mb-9 mw-480">Put our Christmas range on your list</h2>
        <p class="ddl-t3 mb-18 mw-480">With food, drinks, gifts, and cards all in one place, things couldn&rsquo;t be easier</p>
        <article class="ddl-fltr">
          <div id="checklist-btn" class="ddl-tgglr">
            <button class="ddl-btn-input" aria-controls="Checklist">
              <span class="ddl-rndl mr-8">
                <span class="ddl-rndl__icon ddl-rndl__icon--sm">
                  <svg class="ddl-svg ddl-svg--wht">
                    <use xlink:href="#xpnd"/>
                  </svg>
                </span>
              </span>
              <span class="ddl-lbl ddl-t2 cl-crmsn">Filter by category</span>
            </button>
          </div>
        <fieldset id="fields" aria-expanded="false" data-show="false" class="input_group input_group--checkbox-radio">
          <div class="ddl-divider mb-46"></div>
          <legend class="legend hide">Pick a category</legend>
          <div class="input-grid mb-36">
            <div class="form_field">
              <div class="checkbox">
                <input id="0" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Drinks</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="1" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Festive Food to Order</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="2" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Gifts and cards</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="3" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Party food</label>
            </div>
          </div>
          <button id="apply-filter" class="ddl-btn ddl-btn-crmsn mr-8 mob-mb-9">
            <span class="ddl-lbl ddl-t3">Apply filter(s)</span>
          </button>
          <button id="remove-filter" class="ddl-btn ddl-btn-hllw">
            <span class="ddl-lbl ddl-t3">Remove filter(s)</span>
          </button>
        </fieldset>
      </article>
      </section>
      <section class="row mb-48" data-visible="true">
        <article class="ddl-crd-wrppr">
          <div class="ddl-crd bg-crmsn">
            <h3 class="cl-wht mb-9">Drinks</h3>
            <p class="ddl-t3 mb-18 cl-wht2">Celebrate the season with your favourite drinks. With excellent wines for Christmas dinner, Champagne and Prosecco for partying, and some sherry and liqueurs for winding down.</p>
            <a href="#" class="ddl-btn ddl-btn-wht">
              <span class="ddl-lbl ddl-t3">See all drinks</span>
              <svg class="ddl-svg ddl-svg--crmsn" viewBox="0 0 18 24" width="18" height="24">
                <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
              </svg>
            </a>
          </div>
          <div class="ddl-crd-grd">
              <a href="#" class="ddl-crd-itm">
                <img class="ddl-crd-img" data-bg="../../img/1836/1836-Christmas-Checklist-400x400-Drinks-Champagne.jpg" src="../../img/1836/1836-Christmas-Checklist-400x400-Drinks-Champagne-sml.jpg" alt="">
                <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                  <span class="ddl-lbl ddl-t3 cl-wht">Champagne</span>
                  <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                    <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                  </svg>
                </span>
            </a>
            <a href="#" class="ddl-crd-itm">
                <img class="ddl-crd-img" data-bg="../../img/1836/1836-Christmas-Checklist-400x400-Drinks-Wine.jpg" src="../../img/1836/1836-Christmas-Checklist-400x400-Drinks-Wine-sml.jpg" alt="">
                <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                  <span class="ddl-lbl ddl-t3 cl-wht">Wine</span>
                  <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                    <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                  </svg>
                </span>
            </a>
            <a href="#" class="ddl-crd-itm">
              <img class="ddl-crd-img" data-bg="../../img/1836/1836-Christmas-Checklist-400x400-Drinks-Liqueur.jpg" src="../../img/1836/1836-Christmas-Checklist-400x400-Drinks-Liqueur-sml.jpg" alt="">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Liqueurs</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm">
              <img class="ddl-crd-img" data-bg="../../img/1836/1836-Christmas-Checklist-400x400-Drinks-Sherry.jpg" src="../../img/1836/1836-Christmas-Checklist-400x400-Drinks-Sherry-sml.jpg" alt="">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Sherry</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
          </div>
        </article>
      </section>
      <section class="row mb-48" data-visible="true">
        <article class="ddl-crd-wrppr ddl-crd-wrppr-rvrs">
          <div class="ddl-crd-grd">
            <a href="#" class="ddl-crd-itm">
            <img class="ddl-crd-img" data-bg="../../img/1836/1836-Christmas-Checklist-400x400-FFTO-Buffet.jpg" src="../../img/1836/1836-Christmas-Checklist-400x400-FFTO-Buffet-sml.jpg" alt="">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Vegetables</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm">
              <img class="ddl-crd-img" data-bg="../../img/1836/1836-Christmas-Checklist-400x400-FFTO-Dessert.jpg" src="../../img/1836/1836-Christmas-Checklist-400x400-FFTO-Dessert-sml.jpg" alt="">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Dessert</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm">
              <img class="ddl-crd-img" data-bg="../../img/1836/1836-Christmas-Checklist-400x400-FFTO-Party.jpg" src="../../img/1836/1836-Christmas-Checklist-400x400-FFTO-Party-sml.jpg" alt="">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Party</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm">
              <img class="ddl-crd-img" data-bg="../../img/1836/1836-Christmas-Checklist-400x400-FFTO-Veg.jpg" src="../../img/1836/1836-Christmas-Checklist-400x400-FFTO-Veg-sml.jpg" alt="">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Vegetables</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
          </div>
          <section class="ddl-crd bg-grey">
            <h3 class="mb-9 ws-nw">Festive food to order</h3>
            <p class="ddl-t3 mb-18">Impress your guests with our specially selected Christmas food range. Most dishes come ready-prepped for the oven or table, so you can create a stunning spread with little effort.</p>
            <a href="#" class="ddl-btn ddl-btn-crmsn">
              <span class="ddl-lbl ddl-t3">Shop Festive Food to Order</span>
              <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
              </svg>
            </a>
          </section>
        </article>
      </section>
      <section class="row mb-48" data-visible="true">
        <article class="ddl-crd-wrppr">
          <div class="ddl-crd bg-crmsn">
            <h3 class="cl-wht mb-9">Gifts and cards</h3>
            <p class="ddl-t3 mb-18 cl-wht2">We&rsquo;ve a sleighful of gifts to make everyone&rsquo;s Christmas happy. From LEGO sets and baby toys to alcohol gifts and treats for cats and dogs, we&rsquo;ve a great range for your Christmas list.</p>
            <a href="#" class="ddl-btn ddl-btn-wht">
              <span class="ddl-lbl ddl-t3">Shop gifts and cards</span>
              <svg class="ddl-svg ddl-svg--crmsn" viewBox="0 0 18 24" width="18" height="24">
                <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
              </svg>
            </a>
          </div>
          <div class="ddl-crd-grd">
            <a href="#" class="ddl-crd-itm">
              <img class="ddl-crd-img" data-bg="../../img/1836/1836-Christmas-Checklist-400x400-Gifts-Alcohol.jpg" src="../../img/1836/1836-Christmas-Checklist-400x400-Gifts-Alcohol-sml.jpg" alt="">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Alcohol</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm">
              <img class="ddl-crd-img" data-bg="../../img/1836/1836-Christmas-Checklist-400x400-Gifts-Cards.jpg" src="../../img/1836/1836-Christmas-Checklist-400x400-Gifts-Cards-sml.jpg" alt="">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Cards</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm">
              <img class="ddl-crd-img" data-bg="../../img/1836/1836-Christmas-Checklist-400x400-Gifts-Pets.jpg" src="../../img/1836/1836-Christmas-Checklist-400x400-Gifts-Pets-sml.jpg" alt="">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Pets</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm">
              <img class="ddl-crd-img" data-bg="../../img/1836/1836-Christmas-Checklist-400x400-Gifts-Sets.jpg" src="../../img/1836/1836-Christmas-Checklist-400x400-Gifts-Sets-sml.jpg" alt="">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Gift Sets</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
          </div>
        </article>
      </section>
      <section class="row mb-48" data-visible="true">
        <article class="ddl-crd-wrppr ddl-crd-wrppr-rvrs">
          <div class="ddl-crd-grd">
            <a href="#" class="ddl-crd-itm">
              <img class="ddl-crd-img" data-bg="../../img/1836/1836-Christmas-Checklist-400x400-Party-Chocolate.jpg" src="../../img/1836/1836-Christmas-Checklist-400x400-Party-Chocolate-sml.jpg" alt="">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Chocolate</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm">
              <img class="ddl-crd-img" data-bg="../../img/1836/1836-Christmas-Checklist-400x400-Party-FreeFrom.jpg" src="../../img/1836/1836-Christmas-Checklist-400x400-Party-FreeFrom-sml.jpg" alt="">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Free From</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm">
              <img class="ddl-crd-img" data-bg="../../img/1836/1836-Christmas-Checklist-400x400-Party-Nuts.jpg" src="../../img/1836/1836-Christmas-Checklist-400x400-Party-Nuts-sml.jpg" alt="">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Party nuts</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm">
              <img class="ddl-crd-img" data-bg="../../img/1836/1836-Christmas-Checklist-400x400-Party-Selection.jpg" src="../../img/1836/1836-Christmas-Checklist-400x400-Party-Selection-sml.jpg" alt="">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Selections</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
          </div>
          <div class="ddl-crd bg-grey">
            <h3 class="mb-9">Party food</h3>
            <p class="ddl-t3 mb-18">Keep your guests happy with our mouthwatering range of party food. With crisp pastry canapés, Free From treats and sweet and savoury snacks galore, there’s plenty to nibble on.</p>
            <a href="#" class="ddl-btn ddl-btn-crmsn">
              <span class="ddl-lbl ddl-t3">Shop party food</span>
              <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
              </svg>
            </a>
          </div>
        </article>
      </section>
    <script src="../../dist/js/scripts.min.js"></script>
  </main>
</body>
</html>
