<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Online Creative - Christmas Checklist Repo
    </title>
    <link href="../../dist/css/styles.min.css" type="text/css" rel="stylesheet"/>
    <link href="../../dist/css/fonts.css" rel="stylesheet" type="text/css"/>
    <style>
      body {background: #ffffff;margin: 0;}
    </style>
  </head>
  <body>
    <main class="ddl-wrapper">
      <svg style="display: none">
        <defs>
          <symbol id="xpnd" viewBox="0 0 24 18">
            <path d="M20.65 5.31L12 14.28 3.36 5.31" style="fill:none;"></path>
          </symbol>
        </defs>
      </svg>
      <h1 class="mb-21 mw-480">Christmas checklist</h1>
      <p class="ddl-t2 mb-26 mw-480">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      <section class="ddl-blbrd mb-48">
        <div class="ddl-blbrd_cpy bg-grey">
          <h2 class="mb-9 mw.-480">Making a list, checking it twice</h2>
          <p class="ddl-t2 mb-19 mw-480">With Christmas just around the corner, now&rsquo;s the time to beat the rush and get stocked up on all those festive essentials</p>
          <div>
            <a href="#" class="ddl-btn ddl-btn-crmsn mr-8">
              <span class="ddl-lbl ddl-t3">Download as PDF</span>
              <svg class="ddl-svg ddl-svg--wht" width="24" height="26" viewBox="0 0 24 26">
                <line x1="3" x2="21" y1="20.5" y2="20.5"></line>
                <polyline points="7 11 12 16 17 11"></polyline>
                <line x1="12" x2="12" y1="16" y2="3"></line>
              </svg>
            </a>
            <!-- <a href="#" rel="sidebar" title="Bookmark this page" id="bookmark" class="ddl-btn ddl-btn-hllw">
              <span class="ddl-lbl ddl-t3">Bookmark this page</span>
              <svg class="ddl-svg ddl-svg--crmsn" viewBox="0 0 26 26" width="26" height="26">
                <polygon class="a" points="13 19.05 7.46 22.12 8.52 15.61 4 10.97 10.24 10.02 13 4.12 15.76 10.02 22 10.97 17.48 15.61 18.54 22.12 13 19.05"></polygon>
              </svg>
            </a> -->
          </div>
        </div>
        <div class="ddl-blbrd_img" style="background-image:url(https://via.placeholder.com/740x360)"></div>
      </section>
      <div class="ddl-divider mb-48"></div>
      <section class="mb-48">
        <h2 class="mb-9 mw-480">Discover our Christmas range</h2>
        <p class="ddl-t3 mb-18 mw-480">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        <article class="ddl-fltr">
          <div id="checklist-btn" class="ddl-tgglr">
            <button class="ddl-btn-input" aria-controls="Checklist">
              <span class="ddl-rndl mr-8">
                <span class="ddl-rndl__icon ddl-rndl__icon--sm">
                  <svg class="ddl-svg ddl-svg--wht">
                    <use xlink:href="#xpnd"/>
                  </svg>
                </span>
              </span>
              <span class="ddl-lbl ddl-t2 cl-crmsn">Filter by category</span>
            </button>
          </div>
        <fieldset id="fields" aria-expanded="false" data-show="false" class="input_group input_group--checkbox-radio">
          <div class="ddl-divider mb-46"></div>
          <legend class="legend hide">Pick a category</legend>
          <div class="input-grid mb-36">
            <div class="form_field">
              <div class="checkbox">
                <input id="0" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 1</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="1" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 2</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="2" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 3</label>
            </div>
            <div class="form_field">
              <div class="checkbox">
                <input id="3" type="checkbox"> <span class="icon"><svg height="16" viewbox="0 0 20 16" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.79 2.25L17.75.21a.72.72 0 0 0-1.02.002l-9.944 9.943L3.27 6.64a.72.72 0 0 0-1.02 0L.21 8.68A.721.721 0 0 0 .212 9.7l5.805 5.804c.209.208.479.483.755.483s.575-.275.784-.483L19.789 3.27a.721.721 0 0 0 0-1.02" fill="#FFF" fill-rule="evenodd"></path></svg></span>
              </div>
              <label class="label ddl-t3" for="fvrvwrer2">Item 4</label>
            </div>
          </div>
          <button id="apply-filter" class="ddl-btn ddl-btn-crmsn mr-8 mob-mb-9">
            <span class="ddl-lbl ddl-t3">Apply filter(s)</span>
          </button>
          <button id="remove-filter" class="ddl-btn ddl-btn-hllw">
            <span class="ddl-lbl ddl-t3">Remove filter(s)</span>
          </button>
        </fieldset>
      </article>
      </section>
      <section class="row mb-48" data-visible="true">
        <article class="ddl-crd-wrppr">
          <section class="ddl-crd bg-crmsn">
            <h3 class="cl-wht mb-9">Drinks</h3>
            <p class="ddl-t3 mb-19 cl-wht2">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation</p>
            <a href="#" class="ddl-btn ddl-btn-wht">
              <span class="ddl-lbl ddl-t3">Filled with Chevron</span>
              <svg class="ddl-svg ddl-svg--crmsn" viewBox="0 0 18 24" width="18" height="24">
                <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
              </svg>
            </a>
          </section>
          <div class="ddl-crd-grd">
              <a href="#" class="ddl-crd-itm" style="background-image:url('../../img/1836/1836-Christmas-Checklist-400x400-Drinks-Champagne.jpg')">
                <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                  <span class="ddl-lbl ddl-t3 cl-wht">Champagne</span>
                  <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                    <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                  </svg>
                </span>
            </a>
            <a href="#" class="ddl-crd-itm" style="background-image:url('../../img/1836/1836-Christmas-Checklist-400x400-Drinks-Wine.jpg')">
                <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                  <span class="ddl-lbl ddl-t3 cl-wht">Wine</span>
                  <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                    <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                  </svg>
                </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('../../img/1836/1836-Christmas-Checklist-400x400-Drinks-Liqueur.jpg')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Liqueur</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('../../img/1836/1836-Christmas-Checklist-400x400-Drinks-Sherry.jpg')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Sherry</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
          </div>
        </article>
      </section>
      <section class="row mb-48" data-visible="true">
        <article class="ddl-crd-wrppr ddl-crd-wrppr-rvrs">
          <div class="ddl-crd-grd">
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('../../img/1836/1836-Christmas-Checklist-400x400-FFTO-Buffet.jpg')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Vegetables</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('../../img/1836/1836-Christmas-Checklist-400x400-FFTO-Dessert.jpg')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Dessert</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('../../img/1836/1836-Christmas-Checklist-400x400-FFTO-Party.jpg')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Party</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('../../img/1836/1836-Christmas-Checklist-400x400-FFTO-Veg.jpg')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Vegetables</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
          </div>
          <section class="ddl-crd bg-grey">
            <h3 class="mb-9">Festive food to order</h3>
            <p class="ddl-t3 mb-19">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation</p>
            <a href="#" class="ddl-btn ddl-btn-crmsn">
              <span class="ddl-lbl ddl-t3">Filled with Chevron</span>
              <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
              </svg>
            </a>
          </section>
        </article>
      </section>
      <section class="row mb-48" data-visible="true">
        <article class="ddl-crd-wrppr">
          <section class="ddl-crd bg-crmsn">
            <h3 class="cl-wht mb-9">Gifts</h3>
            <p class="ddl-t3 mb-19 cl-wht2">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation</p>
            <a href="#" class="ddl-btn ddl-btn-wht">
              <span class="ddl-lbl ddl-t3">Filled with Chevron</span>
              <svg class="ddl-svg ddl-svg--crmsn" viewBox="0 0 18 24" width="18" height="24">
                <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
              </svg>
            </a>
          </section>
          <div class="ddl-crd-grd">
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('../../img/1836/1836-Christmas-Checklist-400x400-Gifts-Alcohol.jpg')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Alcohol</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('../../img/1836/1836-Christmas-Checklist-400x400-Gifts-Cards.jpg')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Cards</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('../../img/1836/1836-Christmas-Checklist-400x400-Gifts-Pets.jpg')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Pets</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('../../img/1836/1836-Christmas-Checklist-400x400-Gifts-Sets.jpg')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Gift Sets</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
          </div>
        </article>
      </section>
      <section class="row mb-48" data-visible="true">
        <article class="ddl-crd-wrppr ddl-crd-wrppr-rvrs">
          <div class="ddl-crd-grd">
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('../../img/1836/1836-Christmas-Checklist-400x400-Party-Chocolate.jpg')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Chocolate</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('../../img/1836/1836-Christmas-Checklist-400x400-Party-FreeFrom.jpg')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Free from</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('../../img/1836/1836-Christmas-Checklist-400x400-Party-Nuts.jpg')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Party nuts</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
            <a href="#" class="ddl-crd-itm"
            style="background-image:url('../../img/1836/1836-Christmas-Checklist-400x400-Party-Selection.jpg')">
              <span class="ddl-nhncd-lnk ddl-nhncd-lnk-wht">
                <span class="ddl-lbl ddl-t3 cl-wht">Selection</span>
                <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                  <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
                </svg>
              </span>
            </a>
          </div>
          <section class="ddl-crd bg-grey">
            <h3 class="mb-9">Party food</h3>
            <p class="ddl-t3 mb-19">Lorem ipsum dolor sit amet, consect adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation</p>
            <a href="#" class="ddl-btn ddl-btn-crmsn">
              <span class="ddl-lbl ddl-t3">Filled with Chevron</span>
              <svg class="ddl-svg ddl-svg--wht" viewBox="0 0 18 24" width="18" height="24">
                <polyline points="5.31 3.35 14.28 12 5.31 20.64"></polyline>
              </svg>
            </a>
          </section>
        </article>
      </section>
    <script src="../../dist/js/scripts.min.js"></script>
  </main>
</body>
</html>
